{% extends 'adminlte/base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
<title> {% block title %} MajinBoo{% endblock %}</title>


{% block nav_header %}
    {% include 'header.html' %}
{% endblock nav_header %}

{% block nav_sidebar %}
    {% include 'main-sidebar.html' %}
{% endblock nav_sidebar %}

{% block content_wrapper %}
<div class="content-wrapper">
    {% block content_header %}
        <section class="content-header">
            <h1>
                {% block page_name %}{{ page_name }}{% endblock %}
                {% block no_description %}
                <small>{% block page_description %}{{ small }}{% endblock %}</small>
                {% endblock %}
            </h1>
            {% block breadcrumbs %}
                {# Breadcrumb implementation left to developers #}
            {% endblock %}
        </section>
    {% endblock %}
    {% block content_outer %}
    <section class="content">
        {% block messages %}
            {% include 'adminlte/lib/_messages.html' %}
        {% endblock %}

        {% block content_block_wrap %}
            {% block content %}
                <div>
                {% render_table tables %}
                </div>
            {% endblock %}
        {% endblock %}
    </section>
    {% endblock %}
</div>
{% endblock content_wrapper %}
