{% extends 'adminlte/base.html' %}
<title> {% block title %} MajinBoo{% endblock %}</title>


{% block nav_header %}
    {% include 'header.html' %}
{% endblock nav_header %}

{% block nav_sidebar %}
    {% include 'main-sidebar.html' %}
{% endblock nav_sidebar %}

{% block content_wrapper %}
<div class="content-wrapper">
    {% block content_header %}
        <section class="content-header">
            <h1>
                {% block page_name %}test  page{% endblock %}
                {% block no_description %}
                <small>{% block page_description %}{{ hello }}{% endblock %}</small>
                {% endblock %}
            </h1>
            {% block breadcrumbs %}
                {# Breadcrumb implementation left to developers #}
            {% endblock %}
        </section>
    {% endblock %}
    {% block content_outer %}
    <section class="content">
        {% block messages %}
            {% include 'adminlte/lib/_messages.html' %}
        {% endblock %}

        {% block content_block_wrap %}
            {% block content %}
                <form action="boo/create_boo" method="POST">
                <div class="fieldWapper">
                {%  for field in form %}
                    <p>{{ field.label }} : {{ field }} </p>

                {% endfor %}
                </div>
                </form>
            {% endblock %}
        {% endblock %}
    </section>
    {% endblock %}
</div>
{% endblock content_wrapper %}
