{%  extends 'adminlte/lib/_main_sidebar.html' %}

{% block nav_links %}
    <li>
    <a href="/">
        <i class="fa fa-dashboard"></i><span>播测面板</span>
    </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i><span>机器人管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" >
            <li >
                <a href="/boo/boo/">
                    <i class="fa fa-android"></i> 查看机器人
                </a>
            </li>
            <li>
                <a href="/boo/create_boo/">
                    <i class="fa fa-android"></i> 新增机器人
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-group"></i> <span>任务管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#">
                    <i class="fa fa-user"></i> 查看任务
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-user"></i> 新建任务
                </a>
            </li>
        </ul>
    </li>

{% endblock nav_links %}


{% block content %}


{% endblock %}